<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/estilos.css" type="text/css"/>
    <title>Actividad 9 y 10</title>
</head>
<body>
    <header class="container-fluid" id="encabezado">
        <h1>Cubic World</h1>
        <h5>Luis Ángel Calvillo León - EVN401</h5>
    </header>
    <section id="titulo">
        <h2>BEBIDAS EN TIENDA</h2>
    </section>
    <section id="cuerpo" class="container-fluid">
        <div class="row">
            <div id="buscador">
                <input type="search" v-model="textBusqueda" placeholder="Buscar por nombre" class="form-control">
                <input type="number" v-model="numBusqueda" placeholder="Buscar por precio" class="form-control">
                <input type="button" @click="cambiar()" value="Buscar" class="btn btn-warning">
                <input type="button" @click="busqueda=false; textBusqueda=''" value="Reiniciar" class="btn btn-warning">
                <div class="productoBebida">
                    <div class="productoInd" v-for="bebida in buscarBebida" v-if="busqueda==1">
                        <div class="cabecera-diseno">{{bebida.nombre}}</div>
                        <div class="imagen-diseno"><img :src="bebida.imagen"></div>
                        <div class="info-diseno"><ul class="list-unstyled text-center text-primary"><li class="ingredientes">Ingredientes: {{bebida.ingredientes}}</li><li>Precio: {{bebida.precio}}</li><li>Tamaño: {{bebida.tamanio}}</li><li>Existencia: {{bebida.vigencia}}</li></ul>
                        </div>
                    </div>
                </div>
                <div class="productoBebida">
                    <div class="productoInd" v-for="bebida in numBebida" v-if="busqueda==2">
                        <div class="cabecera-diseno">{{bebida.nombre}}</div>
                        <div class="imagen-diseno"><img :src="bebida.imagen"></div>
                        <div class="info-diseno"><ul class="list-unstyled text-center text-primary"><li class="ingredientes">Ingredientes: {{bebida.ingredientes}}</li><li>Precio: {{bebida.precio}}</li><li>Tamaño: {{bebida.tamanio}}</li><li>Existencia: {{bebida.vigencia}}</li></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <sustancia :bebidas="bebidasArray" v-if="busqueda==0" id="caja" class="container-fluid"></sustancia>
        <div id="list-wish-diseno" class="container">
            <input type="text" v-model="agregarProducto" placeholder="Ingrese el nombre a la lista" class="form-control">
            <input type="button" @click="agregar()" value="Agregar" class="btn btn-warning">
            <input type="button" @click="mostrarLista = !mostrarLista" value="Mostrar Lista" class="btn btn-warning">
            <input type="button" @click="show = !show" value="Mostrar Animacion" class="btn btn-warning">
        </div>
        <div id="lista">
            <div class="productoBebida">
                <div class="productoInd" v-for="bebida in listWish" v-if="mostrarLista">
                    <div class="cabecera-diseno">{{bebida.nombre}}</div>
                    <div class="imagen-diseno"><transition name="slide-fade"><img v-if="show" :src="bebida.imagen"></transition></div>
                    <div class="info-diseno"><ul class="list-unstyled text-center text-primary"><li class="ingredientes">Ingredientes: {{bebida.ingredientes}}</li><li>Precio: {{bebida.precio}}</li><li>Tamaño: {{bebida.tamanio}}</li><li>Existencia: {{bebida.vigencia}}</li></ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="js/funciones.js"></script>
</body>
</html>